@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.table-container {
  position: relative;
  float: none;
  margin: 0 auto;
  width: 70%;
  overflow: auto;

  table {
	width: 100%;
	td, th {
  		width: 25%;
		}
	}
	img {
		max-width: 4em;
		max-height: 6em;
  		display: block;
  		width: auto;
  		height: auto;
		margin:0.5em;
		}	
	mat-form-field {
		width: 100%;
	}

}



