@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.table-container {
  position: relative;
  float: none;
  margin: 0 auto;
  width: 70%;
  overflow: auto;

  table {
	width: 100%;
	td, th {
  		width: 25%;
		}
	}
	mat-form-field {
		width: 100%;
	}
}



