<div class="main-container">
  <button mat-raised-button color="primary" (click)="onIncrementClick()">
		Increment
  </button>
  <button mat-raised-button color="primary" (click)="onDecrementClick()">
		Decrement
  </button>
  <button mat-raised-button color="primary" (click)="onAutoIncrement()">
		Auto Increment
  </button>
  <button mat-raised-button color="primary" (click)="onStopAutoIncrement()">
		Stop Increment
  </button>

  <div class="final-text">
    {{valueObserver | async}}
  </div>
</div>
